<div class="container">
    <div class="contact-section row">
        <div class="col-12">
            <div class="contact-block">
                <h2 class="title">Contact us</h2>
                <hr class="contact__line">
            </div>
            <div class="map">
                <iframe class="map__location"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.5541435718486!2d21.002178315548603!3d52.23517467976133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc6dcd82a007%3A0xf85e0a2da6a8e62d!2sGrzybowska%202%2C%2000-131%20Warszawa%2C%20Poland!5e0!3m2!1sen!2sus!4v1625847463789!5m2!1sen!2sus"
                    allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="info-section row">
        <div class="info-block">
            <h3 class="title">Let's Get In Touch</h3>
            <hr class="info__line">
        </div>
        <p class="info__description">Contact us for any further questions, possible projects, and business partnerships
        </p>
        <div class="info-col col-12">
            <div class="location">
                <i class="fa-solid fa-location-dot fa-4x" style="color: #5b5b61;"></i>
                <div class="location-block">
                    <span class="info">Grzybowska 2, 00-131</span>
                    <span class="info">Poland, Warsaw</span>
                </div>
            </div>
            <div class="phone">
                <i class="fa-solid fa-phone fa-4x" style="color: #5b5b61;"></i>
                <div class="phone-block">
                    <span class="info">730-558-401</span>
                    <span class="info">412-567-890</span>
                </div>
            </div>
            <div class="mail">
                <i class="fa-solid fa-envelope fa-4x" style="color: #5b5b61;"></i>
                <div class="mail-block">
                    <span class="info">tastynook91gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="street-col col-4">
            <img class="street__img" src="../../assets/picture/street1.jpg" alt="street1">
        </div>
        <div class="street-col col-4">
            <img class="street__img" src="../../assets/picture/street2.jpg" alt="street2">
        </div>
        <div class="street-col col-4">
            <img class="street__img" src="../../assets/picture/street3.jpg" alt="street3">
        </div>
    </div>
    <div class="parking-section row">
        <div class="parking-block">
            <h2 class="title">Parking and Directions</h2>
            <hr class="parking__line">
        </div>
        <div class="col-6">
            <strong class="parking__description">Located in the heart of Warsaw</strong>
            <ul class="parking-item">
                <li class="parking__list">Within walking distance of Warsaw Central Station and streetcar and bus
                    stations</li>
                <li class="parking__list">Two blocks from Old Town Square</li>
                <li class="parking__list">One block from Warsaw's shopping center</li>
                <li class="parking__list">Two blocks from the theater district</li>
            </ul>
        </div>
        <div class="col-6">
            <strong class="parking__description">Parking</strong>
            <span class="parking__info">A list of all available public parking can be found here: <a
                    class="parking__link" target="_blank"
                    href="https://www.google.com/maps/search/parking+for+Grzybowska+2/@52.2375513,20.9592825,13z/data=!3m1!4b1?entry=ttu">Parking
                    listing.</a>
                Group parking for parties can be arranged.</span>
        </div>
    </div>
</div>