<div class="page-background">
  <h2 class="page-title">Eat & Drink</h2>
  <hr class="title-line" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 nav-block">
      </div>
      <div class="menu col-9">
        <div *ngIf="categoryWithProducts$ | async as categoryWithProducts">
          <div *ngFor="let categoryWithProducts of categoryWithProducts">
            <div class="dish__category-title">{{ categoryWithProducts.category_title }}</div>
            <div class="row menu__row">
              <div *ngFor="let product of categoryWithProducts.products" class="col-6 menu-list">
                <div class="menu__info">
                  <span class="menu__title">{{ product.title }}</span>
                  <span class="description">{{ product.description }}</span>
                  <span class="menu__price">{{ product.price }}</span>
                </div>
                <div class="image__block">
                  <i class="gg-add-r" (click)="open(product)"></i>
                  <img [src]="'http://localhost:3000/images/' + product.image" alt="img" class="menu__image">
                </div>

                <div *ngIf="isClicked()">
                  <app-product-details [isClicked]="isClicked()" (closeClicked)="close()"></app-product-details>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>